.biblioteca-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.biblioteca-biblioteca {
  gap: 10px;
  width: 100%;
  height: 3370px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-material-theme_android_light-colorsurface);
}
.biblioteca-header1280px-header31280px {
  gap: 10px;
  top: 166px;
  left: 0px;
  width: 1441px;
  height: 2907px;
  display: flex;
  padding: 143px 255px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-material-theme_sys_light-secondarycontainer);
}
.biblioteca-footer1280px-footer21280px {
  gap: 10px;
  top: 3073px;
  left: 1px;
  width: 1440px;
  height: 297px;
  display: flex;
  padding: 60px 100px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-material-theme_sys_light-primarycontainer);
}
.biblioteca-frame {
  gap: 233px;
  top: 77px;
  left: 121px;
  width: 1198px;
  height: 144px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.biblioteca-frame1 {
  gap: 77px;
  top: 0px;
  left: 0px;
  width: 474px;
  height: 144px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.biblioteca-frame1 {
  top: 8px;
  left: 0px;
  width: 202px;
  height: 54px;
  position: absolute;
}
.biblioteca-frame2 {
  gap: 60px;
  top: 0px;
  left: 824px;
  width: 374px;
  height: 144px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.biblioteca-frame3 {
  gap: 16px;
  top: 0px;
  left: 0px;
  width: 85px;
  height: 104px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.biblioteca-text {
  top: -2px;
  color: var(--dl-color-material-theme_sys_light-onprimaryfixedvariant);
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.biblioteca-text02 {
  top: 40px;
  color: var(--dl-color-material-theme_sys_light-onprimaryfixedvariant);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 24px;
}
.biblioteca-text04 {
  top: 80px;
  color: var(--dl-color-material-theme_sys_light-onprimaryfixedvariant);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 24px;
}
.biblioteca-frame4 {
  gap: 16px;
  top: 0px;
  left: 145px;
  width: 104px;
  height: 144px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.biblioteca-text06 {
  top: -2px;
  color: var(--dl-color-material-theme_sys_light-onprimaryfixedvariant);
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.biblioteca-text08 {
  top: 40px;
  color: var(--dl-color-material-theme_sys_light-onprimaryfixedvariant);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 24px;
}
.biblioteca-text10 {
  top: 80px;
  color: var(--dl-color-material-theme_sys_light-onprimaryfixedvariant);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 24px;
}
.biblioteca-frame5 {
  gap: 16px;
  top: 0px;
  left: 309px;
  width: 108px;
  height: 144px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.biblioteca-text12 {
  top: -2px;
  color: var(--dl-color-material-theme_sys_light-onprimaryfixedvariant);
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.biblioteca-text14 {
  top: 40px;
  color: var(--dl-color-material-theme_sys_light-onprimaryfixedvariant);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 24px;
}
.biblioteca-header {
  gap: 114px;
  top: 291px;
  left: 123px;
  width: 1196px;
  height: 386px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.biblioteca-header1 {
  top: 0px;
  left: 0px;
  width: 589px;
  height: 176px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.biblioteca-frame6 {
  gap: 41px;
  top: 0px;
  left: 0px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.biblioteca-frame7 {
  gap: 30px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.biblioteca-text16 {
  color: var(--dl-color-material-theme_sys_light-onsecondarycontainer);
  width: 589px;
  height: auto;
  font-size: 91px;
  font-style: Black;
  text-align: left;
  font-family: Roboto;
  font-weight: 900;
  line-height: 90px;
  font-stretch: normal;
  text-decoration: none;
}
.biblioteca-text21 {
  top: 296px;
  color: var(--dl-color-material-theme_sys_light-onsecondarycontainer);
  width: 466px;
  height: auto;
  opacity: 0.50;
  position: absolute;
  text-align: left;
  line-height: 28px;
}
.biblioteca-rectangle289 {
  top: 0px;
  left: 606px;
  width: 590px;
  height: 374px;
  position: absolute;
}
.biblioteca-text23 {
  top: 681px;
  left: 729px;
  color: var(--dl-color-material-theme_sys_light-onsecondarycontainer);
  width: 466px;
  height: auto;
  opacity: 0.50;
  position: absolute;
  text-align: left;
  line-height: 24px;
}
.biblioteca-text25 {
  top: 714px;
  left: 729px;
  color: var(--dl-color-material-theme_sys_light-onsecondarycontainer);
  width: 590px;
  height: auto;
  opacity: 0.50;
  position: absolute;
  text-align: left;
  line-height: 24px;
}
.biblioteca-line1 {
  top: 707px;
  left: 729px;
  width: 590px;
  height: 1px;
  position: absolute;
}
.biblioteca-rectangle2891 {
  top: 817px;
  left: 122px;
  width: 590px;
  height: 374px;
  position: absolute;
}
.biblioteca-rectangle290 {
  top: 817px;
  left: 729px;
  width: 590px;
  height: 374px;
  position: absolute;
}
.biblioteca-rectangle291 {
  top: 1343px;
  left: 729px;
  width: 590px;
  height: 374px;
  position: absolute;
}
.biblioteca-rectangle292 {
  top: 1343px;
  left: 122px;
  width: 590px;
  height: 374px;
  position: absolute;
}
.biblioteca-rectangle293 {
  top: 1869px;
  left: 122px;
  width: 288px;
  height: 374px;
  position: absolute;
}
.biblioteca-rectangle297 {
  top: 2370px;
  left: 122px;
  width: 288px;
  height: 374px;
  position: absolute;
}
.biblioteca-rectangle294 {
  top: 1869px;
  left: 426px;
  width: 288px;
  height: 374px;
  position: absolute;
}
.biblioteca-rectangle298 {
  top: 2370px;
  left: 426px;
  width: 288px;
  height: 374px;
  position: absolute;
}
.biblioteca-rectangle295 {
  top: 1869px;
  left: 730px;
  width: 288px;
  height: 374px;
  position: absolute;
}
.biblioteca-rectangle299 {
  top: 2370px;
  left: 730px;
  width: 288px;
  height: 374px;
  position: absolute;
}
.biblioteca-rectangle296 {
  top: 1869px;
  left: 1034px;
  width: 288px;
  height: 374px;
  position: absolute;
}
.biblioteca-rectangle300 {
  top: 2370px;
  left: 1034px;
  width: 288px;
  height: 374px;
  position: absolute;
}
.biblioteca-text27 {
  top: 1207px;
  left: 122px;
  color: var(--dl-color-material-theme_sys_light-onsecondarycontainer);
  width: 466px;
  height: auto;
  opacity: 0.50;
  position: absolute;
  text-align: left;
  line-height: 24px;
}
.biblioteca-text29 {
  top: 1207px;
  left: 729px;
  color: var(--dl-color-material-theme_sys_light-onsecondarycontainer);
  width: 466px;
  height: auto;
  opacity: 0.50;
  position: absolute;
  text-align: left;
  line-height: 24px;
}
.biblioteca-text31 {
  top: 1733px;
  left: 729px;
  color: var(--dl-color-material-theme_sys_light-onsecondarycontainer);
  width: 466px;
  height: auto;
  opacity: 0.50;
  position: absolute;
  text-align: left;
  line-height: 24px;
}
.biblioteca-text33 {
  top: 1733px;
  left: 122px;
  color: var(--dl-color-material-theme_sys_light-onsecondarycontainer);
  width: 466px;
  height: auto;
  opacity: 0.50;
  position: absolute;
  text-align: left;
  line-height: 24px;
}
.biblioteca-text35 {
  top: 2259px;
  left: 122px;
  color: var(--dl-color-material-theme_sys_light-onsecondarycontainer);
  width: 466px;
  height: auto;
  opacity: 0.50;
  position: absolute;
  text-align: left;
  line-height: 24px;
}
.biblioteca-text37 {
  top: 2760px;
  left: 122px;
  color: var(--dl-color-material-theme_sys_light-onsecondarycontainer);
  width: 466px;
  height: auto;
  opacity: 0.50;
  position: absolute;
  text-align: left;
  line-height: 24px;
}
.biblioteca-text39 {
  top: 2259px;
  left: 426px;
  color: var(--dl-color-material-theme_sys_light-onsecondarycontainer);
  width: 466px;
  height: auto;
  opacity: 0.50;
  position: absolute;
  text-align: left;
  line-height: 24px;
}
.biblioteca-text41 {
  top: 2760px;
  left: 426px;
  color: var(--dl-color-material-theme_sys_light-onsecondarycontainer);
  width: 466px;
  height: auto;
  opacity: 0.50;
  position: absolute;
  text-align: left;
  line-height: 24px;
}
.biblioteca-text43 {
  top: 2259px;
  left: 730px;
  color: var(--dl-color-material-theme_sys_light-onsecondarycontainer);
  width: 466px;
  height: auto;
  opacity: 0.50;
  position: absolute;
  text-align: left;
  line-height: 24px;
}
.biblioteca-text45 {
  top: 2760px;
  left: 730px;
  color: var(--dl-color-material-theme_sys_light-onsecondarycontainer);
  width: 466px;
  height: auto;
  opacity: 0.50;
  position: absolute;
  text-align: left;
  line-height: 24px;
}
.biblioteca-text47 {
  top: 2259px;
  left: 1034px;
  color: var(--dl-color-material-theme_sys_light-onsecondarycontainer);
  width: 466px;
  height: auto;
  opacity: 0.50;
  position: absolute;
  text-align: left;
  line-height: 24px;
}
.biblioteca-text49 {
  top: 2760px;
  left: 1034px;
  color: var(--dl-color-material-theme_sys_light-onsecondarycontainer);
  width: 466px;
  height: auto;
  opacity: 0.50;
  position: absolute;
  text-align: left;
  line-height: 24px;
}
.biblioteca-text51 {
  top: 1240px;
  left: 122px;
  color: var(--dl-color-material-theme_sys_light-onsecondarycontainer);
  width: 590px;
  height: auto;
  opacity: 0.50;
  position: absolute;
  text-align: left;
  line-height: 24px;
}
.biblioteca-text53 {
  top: 1240px;
  left: 729px;
  color: var(--dl-color-material-theme_sys_light-onsecondarycontainer);
  width: 590px;
  height: auto;
  opacity: 0.50;
  position: absolute;
  text-align: left;
  line-height: 24px;
}
.biblioteca-text55 {
  top: 1766px;
  left: 729px;
  color: var(--dl-color-material-theme_sys_light-onsecondarycontainer);
  width: 590px;
  height: auto;
  opacity: 0.50;
  position: absolute;
  text-align: left;
  line-height: 24px;
}
.biblioteca-text57 {
  top: 1766px;
  left: 122px;
  color: var(--dl-color-material-theme_sys_light-onsecondarycontainer);
  width: 590px;
  height: auto;
  opacity: 0.50;
  position: absolute;
  text-align: left;
  line-height: 24px;
}
.biblioteca-text59 {
  top: 2292px;
  left: 122px;
  color: var(--dl-color-material-theme_sys_light-onsecondarycontainer);
  width: 288px;
  height: auto;
  opacity: 0.50;
  position: absolute;
  text-align: left;
  line-height: 24px;
}
.biblioteca-text61 {
  top: 2793px;
  left: 122px;
  color: var(--dl-color-material-theme_sys_light-onsecondarycontainer);
  width: 288px;
  height: auto;
  opacity: 0.50;
  position: absolute;
  text-align: left;
  line-height: 24px;
}
.biblioteca-text63 {
  top: 2292px;
  left: 426px;
  color: var(--dl-color-material-theme_sys_light-onsecondarycontainer);
  width: 288px;
  height: auto;
  opacity: 0.50;
  position: absolute;
  text-align: left;
  line-height: 24px;
}
.biblioteca-text65 {
  top: 2793px;
  left: 426px;
  color: var(--dl-color-material-theme_sys_light-onsecondarycontainer);
  width: 288px;
  height: auto;
  opacity: 0.50;
  position: absolute;
  text-align: left;
  line-height: 24px;
}
.biblioteca-text67 {
  top: 2292px;
  left: 730px;
  color: var(--dl-color-material-theme_sys_light-onsecondarycontainer);
  width: 288px;
  height: auto;
  opacity: 0.50;
  position: absolute;
  text-align: left;
  line-height: 24px;
}
.biblioteca-text69 {
  top: 2793px;
  left: 730px;
  color: var(--dl-color-material-theme_sys_light-onsecondarycontainer);
  width: 288px;
  height: auto;
  opacity: 0.50;
  position: absolute;
  text-align: left;
  line-height: 24px;
}
.biblioteca-text71 {
  top: 2292px;
  left: 1034px;
  color: var(--dl-color-material-theme_sys_light-onsecondarycontainer);
  width: 288px;
  height: auto;
  opacity: 0.50;
  position: absolute;
  text-align: left;
  line-height: 24px;
}
.biblioteca-text73 {
  top: 2793px;
  left: 1034px;
  color: var(--dl-color-material-theme_sys_light-onsecondarycontainer);
  width: 288px;
  height: auto;
  opacity: 0.50;
  position: absolute;
  text-align: left;
  line-height: 24px;
}
.biblioteca-line2 {
  top: 1233px;
  left: 122px;
  width: 590px;
  height: 1px;
  position: absolute;
}
.biblioteca-line3 {
  top: 1233px;
  left: 729px;
  width: 590px;
  height: 1px;
  position: absolute;
}
.biblioteca-line4 {
  top: 1759px;
  left: 729px;
  width: 590px;
  height: 1px;
  position: absolute;
}
.biblioteca-line5 {
  top: 1759px;
  left: 122px;
  width: 590px;
  height: 1px;
  position: absolute;
}
.biblioteca-line6 {
  top: 2285px;
  left: 122px;
  width: 288px;
  height: 1px;
  position: absolute;
}
.biblioteca-line10 {
  top: 2786px;
  left: 122px;
  width: 288px;
  height: 1px;
  position: absolute;
}
.biblioteca-line7 {
  top: 2285px;
  left: 426px;
  width: 288px;
  height: 1px;
  position: absolute;
}
.biblioteca-line11 {
  top: 2786px;
  left: 426px;
  width: 288px;
  height: 1px;
  position: absolute;
}
.biblioteca-line8 {
  top: 2285px;
  left: 730px;
  width: 288px;
  height: 1px;
  position: absolute;
}
.biblioteca-line12 {
  top: 2786px;
  left: 730px;
  width: 288px;
  height: 1px;
  position: absolute;
}
.biblioteca-line9 {
  top: 2285px;
  left: 1034px;
  width: 288px;
  height: 1px;
  position: absolute;
}
.biblioteca-line13 {
  top: 2786px;
  left: 1034px;
  width: 288px;
  height: 1px;
  position: absolute;
}
.biblioteca-top-bar1280px {
  top: 0px;
  left: 1px;
  width: 1440px;
  height: 113px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-self: stretch;
  align-items: flex-start;
  background-color: var(--dl-color-material-theme_sys_light-primarycontainer);
}
.biblioteca-top-bar1280px1 {
  top: 113px;
  left: 1px;
  width: 1440px;
  height: 53px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-self: stretch;
  align-items: flex-start;
  background-color: var(--dl-color-material-theme_sys_light-onprimaryfixedvariant);
}
.biblioteca-frame11 {
  top: 32px;
  left: 33px;
  width: 223px;
  height: 50px;
  position: absolute;
}
.biblioteca-buttonbutton {
  gap: 8px;
  top: 36px;
  left: 1276px;
  width: 133px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 100px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-material-theme_sys_light-primary);
}
.biblioteca-statelayer {
  gap: 8px;
  display: flex;
  padding: 10px 24px;
  align-items: center;
  justify-content: center;
}
.biblioteca-text75 {
  color: var(--dl-color-material-theme_sys_light-onprimary);
  height: auto;
  text-align: center;
  line-height: 20px;
}
.biblioteca-mcclogo1 {
  top: 21px;
  left: 309px;
  width: 71px;
  height: 71px;
  position: absolute;
}
.biblioteca-image1 {
  top: 17px;
  left: 379px;
  width: 283px;
  height: 80px;
  position: absolute;
}
.biblioteca-tabgroup {
  top: 113px;
  left: 426px;
  width: 590px;
  display: flex;
  position: absolute;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.biblioteca-tab6 {
  height: 53px;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-end;
  flex-shrink: 0;
  justify-content: center;
  background-color: var(--dl-color-material-theme_sys_light-onprimaryfixedvariant);
}
.biblioteca-statelayer1 {
  display: flex;
  padding: 0 16px;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
.biblioteca-tab-contents {
  display: flex;
  padding: 0 0 14px 0;
  flex-grow: 1;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
.biblioteca-text77 {
  color: var(--dl-color-material-theme_sys_light-secondaryfixed);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.biblioteca-tab1 {
  height: 53px;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-end;
  flex-shrink: 0;
  justify-content: center;
  background-color: var(--dl-color-material-theme_sys_light-onprimaryfixedvariant);
}
.biblioteca-statelayer2 {
  display: flex;
  padding: 0 16px;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
.biblioteca-tab-contents1 {
  display: flex;
  padding: 0 0 14px 0;
  flex-grow: 1;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
.biblioteca-text79 {
  color: var(--dl-color-material-theme_sys_light-secondaryfixed);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.biblioteca-tab3 {
  height: 53px;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-end;
  flex-shrink: 0;
  justify-content: center;
  background-color: var(--dl-color-material-theme_sys_light-onprimaryfixedvariant);
}
.biblioteca-statelayer3 {
  display: flex;
  padding: 0 16px;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
.biblioteca-tab-contents2 {
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
.biblioteca-text81 {
  color: var(--dl-color-material-theme_sys_light-primaryfixed);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.biblioteca-indicator {
  width: 64px;
  height: 14px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
}
.biblioteca-shape {
  top: 11px;
  left: 2px;
  width: 60px;
  height: 3px;
  position: absolute;
  border-radius: 100px 100px 0 0;
}
.biblioteca-tab2 {
  height: 53px;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-end;
  flex-shrink: 0;
  justify-content: center;
  background-color: var(--dl-color-material-theme_sys_light-onprimaryfixedvariant);
}
.biblioteca-statelayer4 {
  display: flex;
  padding: 0 16px;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
.biblioteca-tab-contents3 {
  display: flex;
  padding: 0 0 14px 0;
  flex-grow: 1;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
.biblioteca-text83 {
  color: var(--dl-color-material-theme_sys_light-secondaryfixed);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.biblioteca-tab31 {
  height: 53px;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-end;
  flex-shrink: 0;
  justify-content: center;
  background-color: var(--dl-color-material-theme_sys_light-onprimaryfixedvariant);
}
.biblioteca-statelayer5 {
  display: flex;
  padding: 0 16px;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
.biblioteca-tab-contents4 {
  display: flex;
  padding: 0 0 14px 0;
  flex-grow: 1;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
.biblioteca-text85 {
  color: var(--dl-color-material-theme_sys_light-secondaryfixed);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
